* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jaro", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 18px;
    min-height: 100vh;
}

h1 {
    text-shadow: 4px 4px 8px #9207e2a4;
    text-align: center;
    font-size: xxx-large;
}

form,
section {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 800px; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */
}

form textarea {
    resize: none;
    box-shadow: 4px 4px 8px #9207e2a4;
    min-height: 60px;
    width: 100%; /* Takes all available space within the form */
    padding: 18px;
}

form button {
    padding: 5px 25px;
    box-shadow: 4px 4px 8px #9207e2a4;
    width: auto;  /* Takes only as much space as needed */
    white-space: nowrap; /* Prevents text wrapping inside the button */
}


@media (min-width: 768px) {
    form {
        flex-direction: column;
        justify-content: center;
    }

    form textarea {
        width: 100%;
    }

    form button {
        width: 100%;
    }

}